<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <main>
        <section class="customer-login">
            <div class="customer-login-container">
                <div class="page-title">
                    <h3 class="iniciar-sesion"> INICIAR SESIÓN</h3>
                </div>
                <div class="account-form">
                    <form class="login-form" method="POST" action="/user/login">
                        <div class="wrap-around email">
                            <label>Email</label>
                            <input type="text" placeholder="tu@email.com" value="" name="email" class="field">
                            <% if (locals.errors && errors.email) { %>
                                <p class="text-danger"><%= errors.email.msg %></p>
                            <% } %>
                        </div>
                        <div class="wrap-around password">
                            <label>Contraseña</label>
                            <input type="password" name="password" class="field">
                            <% if (locals.errors && errors.password) { %>
                                <p class="text-danger"><%= errors.password.msg %></p>
                            <% } %>
                        </div>
                        <div class="wrap-around remember">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                            </label>
                        </div>
                        <div class="login-button-container">
                            <button type="submit" class="login-button">LOGIN</button>
                        </div>
                    </form>
                </div>
                <div class="new-customer">
                    <div><a class="forgot-password">¿Olvidaste tu contraseña?</a></div>
                    <div><p class="new-account">¿Todavia no tienes cuenta?</p></div>
                    <div><a class="create-new-account" href="/user/register">Registrate</a></div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer')  %> 
</body>
</html>