<%- include('./partials/head')  %>

<body>
    <header class="header-panel">
        <div>
            <h2>REFACTOR SKATEBOARDING</h2>
        </div>
        <div class="page-title">
            <h3>BIENVENIDO AL PANEL DE ADMINISTRACION DE PRODUCTO</h3>
        </div>
    </header>
    <main>
        <div class="product-list">
        <h3>LISTA DE PRODUCTOS</h3>
        <div id="product-table">
            <table>
                <tr id="product-list-tr">
                    <th id="product-list-th">ID</th>
                    <th id="product-list-th">Nombre</th>
                    <th id="product-list-th">Acciones</th>
                </tr>
                <% for (let i = 0; i < products.length; i++) { %>
                    <tr id="product-list-tr">
                        <td id="product-list-td">
                            <%= products[i].id %>
                        </td>
                        <td id="product-list-td">
                            <%= products[i].name %>
                        </td>
                        <td id="product-list-td">
                            <a href="/product/<%= products[i].id %>/product-edit-form"><button class="edit-list-button">Editar</button></a>
                            <form action="<%= products[i].id %>/delete/?_method=DELETE" method="POST">
                                <div>
                                    <button type="submit" id="dlb" class="delete-list-button">BORRAR PRODUCTO</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
    </main>
</body>

</html>
