<%- include('./partials/head')  %>

<body>
    <%- include('./partials/header')  %>
    <main>
        <div class="product-detail-container">
            <div class="row">
                <div class="product-gallery">
                <div class="product-image">
                    <img src=<%= "/images/product-images/" + productList.find(element => element.id == idProducto).img + ".jpg" %>>
                </div>
                <div class="gallery-carrousel"></div>
            </div>
            <div class="product-details">
                <div class="header-product-details">
                    <h2><%= productList.find(element => element.id == idProducto).nombre %></h2>
                    <div class="product-details-price">
                        <span><%= 'AR$' + productList.find(element => element.id == idProducto).precio %></span>
                    </div>
                </div>
                <div class="options">
                    <form action="post">
                        <div class="product-form-grid">
                            <div class="option-header"><span>SIZE</span></div>
                            <div class="option-values">
                                <div class="option-value">
                                    <input type="radio">
                                    <span class="option-value-name">S</span>
                                </div>
                                <div class="option-value">
                                    <input type="radio">
                                    <span class="option-value-name">M</span>
                                </div>
                                <div class="option-value">
                                    <input type="radio">
                                    <span class="option-value-name">L</span>
                                </div>
                                <div class="option-value">
                                    <input type="radio">
                                    <span class="option-value-name">XL</span>
                                </div>
                                <div class="option-value">
                                    <input type="radio">
                                    <span class="option-value-name">XXL</span>
                                </div>
                            </div>
                            <div class="option-header"><span>COLOR</span></div>
                            <div class="option-values">
                                <div class="option-value">
                                    <input type="radio">
                                    <span class="option-value-name">BLACK</span>
                                </div>
                                <div class="option-value">
                                    <input type="radio">
                                    <span class="option-value-name">WHITE</span>
                                </div>
                            </div>
                            <div class="option-header"><span>QUANTITY</span></div>
                            <input type="number" class="product-quantity-input" name="quantity" value="1" min="0">
                            <button class="product-submit" value="Add to cart">
                                <span>ADD TO CART</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
         </div>
        </div>
    </main>
    <%- include('./partials/footer')  %>
</body>

</html>