<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
    <section class="new-arrivals">
        <h3 class="titulo-section">TODOS NUESTROS PRODUCTOS</h3>
        <div class="productos-container">
                          
            <!-- Producto -->
            <% for (let i = 0; i < products.length; i++) { %> 
            <article class="producto">
                <div class="producto-image">
                    <a href=<%= "/product/products/" + products[i].id %>> <img src=<%="/images/product-images/" + products[i].img + ".jpg" %>   alt=<%= products[i].name %> ></a>
                </div>
                <div class="producto-footer">
                    <h2 class="title"><%= products[i].name %></h2>
                    <span class="title-meta">
                        <span class="title-price"><%= 'AR$' + products[i].price + '.00' %></span>
                    </span>
                </div>
            </article>
            <% } %>
            
        </main>
    <%- include('./partials/footer') %>
</body>
</html>

