<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="customer-login">
            <div class="customer-login-container">
                <div class="page-title">
                    <h3 class="iniciar-sesion"> REGISTRATE</h3>
                </div>
                <div class="account-form">
                    <% if (locals.errors) { %>
                        <% for( let error in errors ) { %>
                            <p><%= errors[error].msg %> </p>
                        <% } %>
                    <% } %>
                    <form class="login-form" method="POST" action="/user/register" enctype="multipart/form-data">
                        <div class="wrap-around nombre">
                            <label>Nombre</label>
                            <input type="text" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>"  name="name" 
                            class="field <%= locals.errors && errors.name ? 'is-invalid' : null %>">
                            <% if (locals.errors && errors.name) { %>
                                <p class="text-danger"><%= errors.name.msg %></p>
                            <% } %>
                        </div>
                        <div class="wrap-around apellido">
                            <label>Apellido</label>
                            <input type="text" placeholder="Apellido" value="<%= locals.oldData ? oldData.lastName : null %>" name="lastName" 
                            class="field <%= locals.errors && errors.lastName ? 'is-invalid' : null %>">
                            <% if (locals.errors && errors.lastName) { %>
                                <p class="text-danger"><%= errors.lastName.msg %></p>
                            <% } %>
                        </div>
                        <div class="wrap-around email">
                            <label>Email</label>
                            <input type="text" placeholder="tu@email.com" value="<%= locals.oldData ? oldData.email : null %>" name="email" 
                            class="field <%= locals.errors && errors.email ? 'is-invalid' : null %>">
                            <% if (locals.errors && errors.email) { %>
                                <p class="text-danger"><%= errors.email.msg %></p>
                            <% } %>
                        </div>
                        <div class="wrap-around password">
                            <label>Contrase単a</label>
                            <input type="password" name="password" 
                            class="field <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                            <% if (locals.errors && errors.password) { %>
                                <p class="text-danger"><%= errors.password.msg %></p>
                            <% } %>
                        </div>
                        <div class="wrap-around image">
                            <label>Avatar</label>
                            <input type="file" name="avatar" class="field">
                            <% if (locals.errors && errors.avatar) { %>
                                <p class="text-danger"><%= errors.avatar.msg %></p>
                            <% } %>
                        </div>
                        <div class="login-button-container">
                            <button type="submit" class="login-button">REGISTRARSE</button>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox">
                            <label for="">Deseo subscribirme a la newsletter</label>
                        </div>
                    </form>
                </div>
                <div class="new-customer">
                    <div><a class="forgot-password">多Olvidaste tu contrase単a?</a></div>
                    <div><a class="create-new-account" href="login">多Ya tienes cuenta? Inicia sesion</a></div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>