<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/refactorlogo.jpg" alt="Logo Refactor">
    </figure>
    <h1><%= user.name %> </h1>    
    <br>
    <p>Nombre: <%= user.name %> </p>
    <p>Apellido: <%= user.lastname %> </p>
    <p>Email: <%= user.email %> </p>
    <p>Avatar: <%= user.avatar %> </p>
    <br>
    <section>
        <a class="botonModificar" href="/user/edit/<%= user.id %>">Modificar</a>
        <a class="botonBorrar" href="/user/delete/<%= user.id %>">Borrar</a>
        <a class="botonVolver" href="/user">Listado de Usuarios</a>
    </section>

</body>
</html>