<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <main>
        
        <!-- Banner -->
        <div class="banner-container">
            <section class="banner">
                <div id="banner" class="banner-img-elements banner-index">
                    <img src="/images/banner/b1.jpg" alt="Img1" class="selected">
                    <img src="/images/banner/b2.jpg" alt="Img2">
                    <img src="/images/banner/b3.jpg" alt="Img3">
                    <img src="/images/banner/b4.jpg" alt="Img4">
                    <img src="/images/banner/b5.jpg" alt="Img5">
                    <img src="/images/banner/b6.jpg" alt="Img6"> 
                    <img src="/images/banner/b7.jpg" alt="Img7"> 
                    <img src="/images/banner/b8.jpg" alt="Img8"> 
                </div>
            </section>
        </div>

        <!-- New Arrival Section -->

        <section class="new-arrivals">
            <h3 class="titulo-section">ULTIMOS INGRESOS</h3>
            <div class="productos-container">
                              
                <!-- Producto -->
                <% for (let i = 0; i < 4; i++) { %> 
                <article class="producto">
                    <div class="producto-image">
                        <a href=<%= "/product/products/" + products[i].id %>> <img src="/images/product-images/<%= products[i].img %>"   alt=<%= products[i].name %> ></a>
                    </div>
                    <div class="producto-footer">
                        <h2 class="title"><%= products[i].name %></h2>
                        <span class="title-meta">
                            <span class="title-price"><%= 'AR$ ' + products[i].price %></span>
                        </span>
                    </div>
                </article>
                <% } %>
        
        <!-- Triple Banner -->
        <section class="triple-banner">
            <div class="listSimple">
                <div class="items-3">
                    <div class="sector-banner img1"><a href="#"><img src="/images/triple-banner1.jpg" alt=""></a></div>
                    <div class="sector-banner img2"><a href="/product/product-all-woman"><img src="/images/triple-banner2.jpg" alt=""></a></div>
                    <div class="sector-banner img3"><a href="#"><img src="/images/triple-banner3.jpg" alt=""></a></div>
                </div>
            </div>
        </section>

        <!-- Last Visit Section -->
        <section class="on-your-last-visit">
            <h3 class="titulo-section">BASADOS EN TU ULTIMA VISITA</h3>
            <div class="productos-container">
                
                <!-- Producto -->
                <% for (let i = 4; i < 8; i++) { %> 
                    <article class="producto">
                        <div class="producto-image">
                            <a href=<%= "/product/products/" + products[i].id %>> <img src="/images/product-images/<%= products[i].img %>"   alt=<%= products[i].name %> ></a>
                        </div>
                        <div class="producto-footer">
                            <h2 class="title"><%= products[i].name %></h2>
                            <span class="title-meta">
                                <span class="title-price"><%= 'AR$ ' + products[i].price %></span>
                            </span>
                        </div>
                    </article>
                <% } %>

            </div>
        </section>
    </main>

    <%- include('../partials/footer')  %> 
    <script src="/js/banner.js"></script>
    
</body>

</html>